<h2 dir=rtl>
لیست
</h2>


Syntax: List = [value1, value2, ..., valueN]

In [ ]:
my_list = [3,4,6,10,8]

<img src='python-list.png'  style = "float:left"/>

In [ ]:
my_list = [3,4,6,10,8]
my_list[0]

3

In [ ]:
my_list = [3,4,6,10,8]
my_list[-1]

8

In [2]:
my_list = [3,4,6,10,8]
# my_list[start:end:step]
#تا یکی مونده به آخری
my_list[0:2]

[3, 4]

In [ ]:
my_list = [3,4,6,10,8]
my_list[::3]

[3, 10]

In [ ]:
my_list = [3,4,6,10,8]
my_list[::-1]

[8, 10, 6, 4, 3]

### Nested Lists

<img src='Python-Nested-List-Indexing.png'  style = "float:left"/>

In [ ]:
L = ['a', 'b', ['cc', 'dd', ['eee', 'fff']], 'g', 'h']

In [ ]:
print(L[2])

['cc', 'dd', ['eee', 'fff']]

In [ ]:
print(L[2][2])

['eee', 'fff']

In [ ]:
print(L[2][2][0])

eee

In [ ]:
my_list = [3,4,6,10,8]
my_list[1] = 'Ali'
my_list

[3, 'Ali', 6, 10, 8]

In [ ]:
my_list = [3, 'Ali', 6, 10, 8] * 2
my_list

[3, 'Ali', 6, 10, 8, 3, 'Ali', 6, 10, 8]

In [ ]:
my_list = my_list + ['Sattari',20] 
my_list

[3, 'Ali', 6, 10, 8, 3, 'Ali', 6, 10, 8, 'Sattari', 20]

<h2 dir=rtl>
متد های لیست
</h2>

In [ ]:
my_list = [3, 'Ali', 6, 10, 8]
my_list.append('Sattari')
my_list

[3, 'Ali', 6, 10, 8, 'Sattari']

In [ ]:
my_list.reverse()
my_list

['Sattari', 8, 10, 6, 'Ali', 3]

In [ ]:
my_list.insert(1,['Shalqam','piyaz'])
my_list

['Sattari', ['Shalqam', 'piyaz'], 8, 10, 6, 'Ali', 3]

<div dir=rtl>
درست همانند رشته‌ها، تابع
    <code>len</code>
    تعداد اعضا را بر می‌گرداند.
</div>

In [ ]:
len(general_list)

4

<div dir=rtl>
می‌توان دو لیست را با یکدیگر ادغام کرد.
</div>

In [ ]:
print(general_list + num_list)
print(num_list)
print(general_list)

['Alireza', 41, 12.75, True, 1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
['Alireza', 41, 12.75, True]

<div dir=rtl>
می‌توان لیست را با نشانه
*
تکرار کرد.
</div>

In [ ]:
num_list * 3

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

<h2 dir=rtl>
تاپل
</h2>

Syntax: Tuple = (Value1, Value2, ... , ValueN)
* همون لیست های تغییر ناپذیر

In [ ]:
my_tuple = (3, 'Ali', 6, 10, 8)

In [ ]:
my_tuple[0]

3

In [ ]:
my_tuple[0] = 10

TypeError: 'tuple' object does not support item assignment

<h2 dir=rtl>
مجموعه ها
</h2>

Syntax: Set = {Value1, Value2, ... , ValueN}
* فقط منحصر به فرد
* تغییر ناپذیر
* بدون ترتیب
* بدون آدرسی دهی اندیسی

In [ ]:
my_set = {1,2,2,3,3,3,3,'Sattari','Sattari',10.8,'Ali'}
my_set

{1, 10.8, 2, 3, 'Ali', 'Sattari'}

In [ ]:
my_set[1]

TypeError: 'set' object is not subscriptable

In [ ]:
my_set[1] = 4

TypeError: 'set' object does not support item assignment

In [ ]:
s1 = set([1,2,2,3,3,3,3,'Sattari','Sattari',10.8,'Ali'])
s1

{1, 10.8, 2, 3, 'Ali', 'Sattari'}

In [ ]:
s2 = set('Optimization')
s2

{'O', 'a', 'i', 'm', 'n', 'o', 'p', 't', 'z'}

In [ ]:
# یک لیست
my_list = [10,15,45,78,98,52]
my_list

[10, 15, 45, 78, 98, 52]

In [ ]:
# تبدیل لیست به مجموعه
l_to_s = set(my_list)
l_to_s

{10, 15, 45, 52, 78, 98}

In [ ]:
# تبدیل مستقیم
s3 = set([10,15,45,78,98,52])
s3

{10, 15, 45, 52, 78, 98}

In [ ]:
#تبدیل مجموعه به لیست 
list1 = list(s1)
list1

[1, 2, 3, 10.8, 'Sattari', 'Ali']

In [ ]:
list2 = list('Ali')
list2

['A', 'l', 'i']

In [ ]:
tuple1 = tuple(list1)
tuple1

(1, 2, 3, 10.8, 'Sattari', 'Ali')

In [ ]:
# اجتماع مجموعه ها
s1 = set([1, 2, 3, 10.8, 'Sattari', 'Ali'])
s2 = set('ZNU')
s1.union(s2)
# s1 | s2

{1, 10.8, 2, 3, 'Ali', 'N', 'Sattari', 'U', 'Z'}

In [ ]:
# اشتراک مجموعه ها
s1 = set([1, 2, 3, 10.8, 'Sattari', 'Ali'])
s2 = set([3,45,67,2,10.8,36,55])
# s1.intersection(s2)
s1 & s2

{2, 3, 10.8}

In [ ]:
# تفاضل مجموعه ها
s1 = set([1, 2, 3, 10.8, 'Sattari', 'Ali'])
s2 = set([45,67,2,36,55])
# s1.difference(s2)
s1 - s2

{1, 10.8, 3, 'Ali', 'Sattari'}

<h2 dir=rtl>
دیکشنری
</h2>


**D =** <b>{</b> <font color='green'><b> key </b></font> <b>:</b> <font color='red'><b> value </b></font> <b>,</b>   <font color='green'><b> key </b></font> <b>:</b> <font color='red'><b> value </b></font> <b>,</b> <b>...</b>  <b>,</b> <font color='green'><b> key </b></font> <b>:</b> <font color='red'><b> value </b></font><b> } </b>

In [ ]:
my_dict = {'Brazil' : 'Rio', 'Germany' : 'Berlin', 'Iran' : 'Tehran'}
my_dict

{'Brazil': 'Rio', 'Germany': 'Berlin', 'Iran': 'Tehran'}

In [ ]:
# another way to create a dictionary
my_dict = dict( Brazil = 'Rio', Germany = 'Berlin', Iran = 'Tehran')
my_dict

{'Brazil': 'Rio', 'Germany': 'Berlin', 'Iran': 'Tehran'}

In [ ]:
demands = {('p1',1):200, ('p1',2):300, ('p2',1):100 , ('p2',2):400}
demands

{('p1', 1): 200, ('p1', 2): 300, ('p2', 1): 100, ('p2', 2): 400}

In [ ]:
demands[('p1',2)]

300

In [ ]:
demands[('p1',2)] = 800
print(demands)

{('p1', 1): 200, ('p1', 2): 800, ('p2', 1): 100, ('p2', 2): 400}

In [ ]:
demands[('p3',1)] = 500
demands

{('p1', 1): 200,
 ('p1', 2): 800,
 ('p2', 1): 100,
 ('p2', 2): 400,
 ('p3', 1): 500}

In [ ]:
('p1',1) in demands

True

In [ ]:
demands.items()

dict_items([(('p1', 1), 200), (('p1', 2), 800), (('p2', 1), 100), (('p2', 2), 400), (('p3', 1), 500)])

In [ ]:
list(demands.items())

[(('p1', 1), 200),
 (('p1', 2), 800),
 (('p2', 1), 100),
 (('p2', 2), 400),
 (('p3', 1), 500)]

In [ ]:
demands.keys()

dict_keys([('p1', 1), ('p1', 2), ('p2', 1), ('p2', 2), ('p3', 1)])

In [ ]:
list(demands.keys())

In [ ]:
demands.values()

In [ ]:
list(demands.values())

In [ ]:
demands.get(('p1',1))
# demands[('p1',1)]

In [ ]:
demands[('p1',3)]

In [ ]:
demands.get(('p1',3))

In [ ]:
demands.get(('p1',3) , 0)

In [ ]:
demands.get(('p1',2) , 0)